* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.app-container {
    display: flex;
    height: 100vh;
    margin: 0;
    transition: background 1.5s ease-in-out; 
}